.schoollisting-unselected{
    position:relative;
    height:auto;
    width: calc(100% - 11px);
    left:5px;
    margin-top: 5px;
    background:lightgrey;
    border-radius:10px;
    overflow:hidden;
    
}
.schoollisting-groupselect{
    position:relative;
    height:auto;
    width: calc(100% - 11px);
    left:5px;
    margin-top: 5px;
    background:lightgrey;
    border-radius:10px;
    overflow:hidden;
    
}
.schoollisting-selected{
    position:relative;
    height:auto;
    width: calc(100% - 11px);
    left:5px;
    margin-top: 5px;
    background:salmon;
    border-radius:10px;
    overflow:hidden;
    
}
.total-header-container{
    position:relative;
    width:100%;
    height:auto;
    background:transparent;
     font-family: "PT Sans", Calibri, Tahoma, sans-serif;
     letter-spacing:5px;
     left:10px;
     top:10px;
    font-size:14px;
     text-transform:uppercase;
     font-weight:bold;
    border-bottom:1px solid black;
    display:flex;
}
.schoollisting-header{
    position:relative;
    width:calc(100% - 40px);
    height:auto;
    background:transparent;
    display:flex;
    
}

.jfavorite-container{
    position:relative;
    width:20px;
    height:20px;
    left: 2px;
    transition:filter 0.1s;
    background:transparent;
}

.jfavorite-container:hover{
    filter: invert(0.5);
}
.jfavorited-container{
    position:relative;
    width:20px;
    height:20px;
    left: 2px;
    filter:brightness(0.8) invert(.7) sepia(.9) hue-rotate(-50deg) saturate(2000%); 
}


.jcantfavorite-container{
    position:relative;
    width:20px;
    height:20px;
    left: 2px;
    filter:invert(50%);
}

.favs-im{
    position:relative;
    width:15px;
    height:15px;
}

.schoollisting-body{
    position:relative;
    height:50px;
    width:100%;
    background:transparent;
}

.child-container{
    position:relative;
    height:20px;
    width:50%;
    top:16px;
    background:transparent;
}

.adult-container{
    position:relative;
    height:40px;
    width:50%;
    margin-top:10px;
    left:50%;
    top:-25px;
    background:transparent;
    
}
.scicon-container{
    position:relative;
    height:20px;
    width:20px;
    background:transparent;
    left:10px;
}
.j1icon-container{
    position:relative;
    height:40px;
    width:40px;
    background:transparent;
    left:10px;
}

img{
    height:100%;;
    width:100%;
}

.scinfo-container{
    position:relative;
    height:20px;
    width:100%;
    top:-20px;
    left:40px;
    background:transparent;
}
.j1info-container{
    position:relative;
    height:20px;
    width:100%;
    top:-30px;
    left:40px;
    background:transparent;
}

.gradeType-container{
    position:relative;
    width:100%;
    height:10px;
    background:transparent;
    top:-20px;
    left:10px;
     font-family: "PT Sans", Calibri, Tahoma, sans-serif;
     letter-spacing:3px;
     font-weight:bold;
     font-size:13px;
     display:flex;
}
