.container{
    position:fixed;
    width:100%;
    height:100%;
    background:white;
}

.home-bar-container{
    position:relative;
    width:100%;
    height:40px;
    background:transparent;
    display:flex;
}
.top-right{
    position:relative;
    height:100%;
    width:auto;
    background:transparent;
    left:calc(100% - 30px - 160px);
    display:flex;
}
.home-from-map{
    position:relative;
    width:40px;
    height:30px;
    top:10px;
    background:transparent;
    z-index:100000;
    transition:filter 0.2s
}
.home-from-map:hover{
    filter:invert(50%)
}
.home-from-map img{
    position:relative;
    width:30px;
    height:30px;
    z-index:2000000;
}
.home-container{
    position:relative;
    width:40px;
    height:40px;
    background:transparent;
}
.noLogin{
    position:relative;
    width:0;
    height:0;
    margin:0;
}

.sign-in-container{
    position:relative;
    top:10px;
    width:100px;
    height:30px;
    background:white;
    display:flex;
    border-radius:60px;
    border:1px solid black;
    transition:filter 0.2s;
    z-index:10000;
}
.sign-in-container-clicked{
    position:relative;
    top:10px;
    width:100px;
    height:30px;
    background:white;
    display:flex;
    border-radius:60px;
    border:1px solid black;
    transition:filter 0.2s;
    z-index:1000;
    filter:invert(1);
}
.user-container{
    position:relative;
    top:10px;
    width:125px;
    height:50px;
    left: calc(100% - 175px);
    background-color: #70db70;
    display:flex;
    border-radius:60px;
    border:1px solid black;
    transition:filter 0.2s;
    z-index:10000;
}
.admin-container{
    position:relative;
    top:10px;
    width:125px;
    height:50px;
    left: calc(100% - 175px);
    background-color: #ff4d4d;
    display:flex;
    border-radius:60px;
    border:1px solid black;
    transition:filter 0.2s;
    z-index:10000;
}
.admin-container:hover{
    background-color:#b30000;
}
.user-container:hover{
    background-color:#248f24;
}
.sign-in-container:hover{
    filter:invert(1);
}
.icon-container{
    position:relative;
    top:1px;
    width:20px;
    height:100%;
    left:3px;
    background:transparent;
    
}
.icon-container img{
    position:relative;
    height:20px;
    width:20px;
    vertical-align:middle;
}
.text-container{
    position:relative;
    left:7px;
    width:auto;
    height:70%;
    top:17%;
    background: transparent;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    vertical-align:middle;
}

.signout-text-container{
    position:relative;
    margin: auto;
    margin-top: 7.5%;
    line-height: 75%;
    word-wrap: break-word;
    width:auto;
    background: transparent;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: .75em;
    letter-spacing: 3px;
    text-transform: uppercase;
    vertical-align:middle;
    text-align: center;
}
