:root{
    --size: 100%;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.mcontainer{
    position:relative;
    width:100%;
    height:100%;
    background:transparent;
}
.map-container{
    position:relative;
    top:-157px;
    width:100%;
    height:101%;
    background:transparent;
}
.map{
    position:fixed;
    width:100%;
    height:101%;
}

.province{
    position:absolute;
    left:5%;
    top:200px;
    width:89%;
    height:89%;
    
}
.citiesContainer:hover{
    background:gray;
}

.province-selected{
    position:absolute;
    top:200px;
    left:5%;
    width:89%;
    height:89%;
    
}
.sCityInfo{
    position:relative;
    height:20px;
    width:auto;
    top:10px;
    letter-spacing: 10px;
}
.province-hover{
    position:absolute;
   top:200px;
    left:5%;
    width:89%;
    height:89%;
}

.province-selected path{
    fill:black;
}
.test{
    position:relative;
    width:100%;
    height:100%;
    background:pink;
    z-index:9000;
}
path{
    fill: white;
    transition: fill 0.2s; 
}
.province-hover path{
    fill:lightgray;
    transition: fill 0.2s;
}

.hover-info-header{
    position:relative;
    top:5px;
    width:100%;
    height:50%;
    background:transparent;
}

.hover-info-header img{
    width:100%;
    height:100%;
}

.hover-info-bulk{
    position:relative;
    width:100%;
    height:50%;
    text-align:center;
    font-size:12px;
    font-family: Arial, sans-serif;
    letter-spacing:2px;
    color:white;
    text-transform:Capitalize;
    
}
.hover-info-pop{
    position:relative;
    width:100%;
    height:50%;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color:gray;
  letter-spacing:4px;
  font-weight:bold;
}


.home-container{
    position:relative;
    top:92px;
     width:50px;
    height:50px;
    left:calc(100% - 145px);
    background:transparent;
    z-index:2000;
    transition:filter 0.2s;
}
.home-container:hover{
 filter:invert(0.5);   
}
.home-container img{
    position:relative;
     width:70%;
    height:70%;
}
.menu-container{
    position:relative;
    top:calc(114px + 10px);
    width:32px;
    height:32px;
    left: 10px;
    z-index:7000;
    border-radius:50%;
    transition:filter 0.2s;
}
.menu-container:hover{
    filter:invert(0.5);
}
.menu-container img{
    position:relative;
    width:70%;
    height:70%;
    top:15%;
    left:15%;
    
}

.side-menu-container-open{
    position:absolute;
    width: 300px;
    height: 670px;
    left:0px;
    top:167px;
    background:rgb(0,0,0,0.5);
    border-radius:10px;
    border:1px solid black;
    z-index:100000;
    transition: width 0.2s;
    overflow:hidden;
   
    
}
.all-menu-contents{
position:relative;
height:calc(100% - 60px);
background:transparent;
 overflow-y:scroll;
 top:5px
}
.side-menu-header{
    position:relative;
    width:100%;
    height:auto;
    background:white;
    border-bottom:1px solid black;
    
   
}
.edit-container{
    position:relative;
    height:20px;
    width:100%;
    top: -13px;
    background:transparent;
    display:flex;
    
   
}
.delete-listing-container{
    position:relative;
    height:100%;
    width:20px;
    background:transparent;
    left:-12px;
    transition: filter 0.2s;
    
}

.delete-listing-container:hover{
    filter:invert(50%);
}

.delete-listing-container img{
   height:15px;
   width:15px;
}

.add-container{
    position:relative;
    height:20px;
    width:20px;
    left: calc(100% - 30px);
    background:transparent;
    transition: filter 0.2s;
}
.add-container:hover{
    filter: invert(50%);
    
}
.add-container img{
    position:relative;
    height:20px;
    width:20px;
}

.side-menu-header .title2{
position:relative;
height:auto;
top:10px;
width:auto;
text-align: center;
background:transparent;
    font-size:25px;
     font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
     text-transform:capitalize;
     letter-spacing:10px;
     vertical-align: middle;
     color:gray;
     font-weight:bold;
}
.side-menu-container-closed{
    position:absolute;
    width: 0px;
    height: 670px;
    left:-2px;
    top:167px;
    background:white;
    border-radius:10px;
    border:1px solid black;
    transition: width 0.2s;
    
}
.editing{
    position:absolute;
    background:rgb(0,0,0,0.65);
    height:100%;
    width:100%;;
    z-index:10000;
    
}
.exitIcon-container:hover{
    filter:invert(50%);
}
.exitIcon-container{
    position:absolute;
    height:30px;
    width:30px;
    background:transparent;
    z-index:10001;
    transition: filter 0.2s;
}
.menu-container-selected{
    position:relative;
    top:calc(114px + 10px);
    width:32px;
    height:32px;
    left: 10px;
    z-index:7000;
    border-radius:50%;
    transition:filter 0.2s;
    filter:invert(0.5);
}
.cityInfoContainer-unselected{
    position:relative;
    width:calc(100% - 11px);
    left:5px;
    height:auto;
    margin-top:5px;
    background:lightgray;
    border-radius:10px;
    overflow:hidden;
    transition:width 0.2s;
    
}

.cityInfoContainer-selected{
    position:relative;
    width:calc(100% - 11px);
    left:5px;
    height:auto;
    margin-top:5px;
    background:salmon;
    border-radius:10px;
    overflow:hidden;
    transition:width 0.2s;
}
.cityNameContainer{
    position:relative;
    width:100%;
    height:auto;
    background:transparent;
     font-family: "PT Sans", Calibri, Tahoma, sans-serif;
     letter-spacing:5px;
     left:10px;
     top:10px;
    font-size:14px;
     text-transform:uppercase;
     font-weight:bold;
    border-bottom:1px solid black;
    display:flex;
}
.cityname{
    position:relative;
    height:100%;
    width:60%;
    background:transparent;
}
.citypop{
    position:relative;
    height:100%;
    width:50%;
    left:20px;
    background:transparent;
    font-weight: normal;
    font-size:13px;
    top:3px;
}
.cityExtraInfo{
    position:relative;
    width:90%;
    left:10px;
    height:116px;
    background:transparent;
    top:10px;
}
.cityNumberContainer{
    position:relative;
    height:70%;
    width:auto;
    top:5px;
}
.cityHouseCount{
    position:relative;
    height:30px;
    width:50%;
    background:transparent;
    display:flex;
}
.cityJobCount{
    position:relative;
    height:30px;
    width:50%;
    top:5px;
    background:transparent;
    display:flex;
}
.citySchoolCount{
    position:relative;
    height:30px;
    width:50%;
    top:10px;
    background:transparent;
    display:flex;
}

.cityStoreCount{
    position:relative;
    height:30px;
    width:50%;
    left:50%;
    top:-90px;
    background:transparent;
    display:flex;
}

.cityComSupportCount{
    position:relative;
    height:30px;
    width:50%;
    left:50%;
    top:-85px;
    background:transparent;
    display:flex;
}
.cityExploreButton{
    position:relative;
    height:20px;
    width:50%;
    left:50%;
    top:-77px;
    background:white;
    border-radius:30px;
    text-align:center;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
     letter-spacing:3px;
     font-size:13px;
     border: 1px solid black;
     font-weight:bold;
     transition:background 0.2s;
}
.cityExploreButton:hover{
    background:black;
    color:white;
    border: 1px solid white;
}

.buttonTextContainer{
    position:relative;
    width:100%;
    height:calc(100% - 20px);
    top:2px;
    left:2px;
}

.cityIconContainer{
    position:relative;
    height: 100%;
    width:25%;
    background:transparent;
}
.cityIconContainer img{
    top:5px;
    position:relative;
    height: 17px;
    width:17px;
}
.menu-container-selected img{
    position:relative;
    width:70%;
    height:70%;
    top:15%;
    left:15%;
    
}


.provinceName{
    position:relative;
    height:200px;
    width:100%;
    top:40px;
    text-align: center;
    background:transparent;
}
.sProvinceCont{
    position:relative;
    height:90%;
    top:-12%;
    width:100%;
    background:transparent;
    
}

.sPopHolder{
    position:relative;
     height:auto;
     top:10px;
    width:auto;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color:gray;
  left:-2px;
    font-size:20px;
    letter-spacing:4px;
    text-transform:uppercase;
    text-align:center;
    white-space: nowrap;
      font-weight:bold;
}

.sProvName{
    position:relative;
    height:auto;
    margin:0;
    top:10px;
    width:auto;
    font-family: Arial, sans-serif;
    font-size:20px;
    letter-spacing:13px;
    text-transform:uppercase;
    text-align:center;
    white-space: nowrap;
    
}
.top-menu-options{
    position:relative;
    width:calc(100% - 200px);
    height:35px;
    z-index:8000;
    top:52px;
    left:70px;
    display:flex;
}
.button-background{
    position:relative;
    left:-7px;
    margin-left:4px;
    width:auto;
    height:18px;
    top:20%;
    background:white;
    border-radius:60px;
    border:1px solid black;
    display:flex;
    transition:filter 0.2s;
}
.button-background:hover{
    filter:invert(0.3);
}
.button-background-selected{
    position:relative;
    left:-7px;
    margin-left:4px;
    width:auto;
    height:18px;
    top:20%;
    background:white;
    border-radius:60px;
    border:1px solid black;
    display:flex;
   transition:filter 0.2s;
   filter: invert(1);
}
.icon-container-menu{
    position:relative;
    left:5px;
  
    width:15px;
    height:15px;
    background:transparent;
}

.icon-container-menu img{
    position:relative;
    width:12px;
    height:12px;
    top:calc(100% - 17px);
}
.text-container-menu{
    position:relative;
    background:transparent;
    width:auto;
    top:2px;
    height:15px;
    left:6px;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    white-space: nowrap;
    margin-right:12px;
}
.flag-container{
    position:relative;
    height:10%;
    width:20%;
    background:transparent;
    opacity:20%;
    justify-content: center;
}
.flag-container img{
    position:relative;
 
    width:100%;
    height:100%;
}
.marker-selected{
    filter:brightness(0.8) invert(.7) sepia(.9) hue-rotate(-50deg) saturate(1000%); 
}
.marker-groupselected{
    filter:invert(0.5);
}
